{% extends "base.html" %}
{% block head_content %}
	<title>Menus | EMeals</title>
{% endblock %}
{% block container %}
    <div class="row">
        <div class="col-lg-2 ml-auto">
            <a href="{% url 'menus:menu_list' %}" class="btn btn-secondary btn-block">go list</a>
        </div>
        <div class="col-lg-12">
            {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                         <div class="alert alert-info {% if message.tags %}{{ message.tags }}{% endif %}" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12">
                    <h3>Available dishes to select</h3>
                    <ul class="list-group">
                        {% for dish in dishes %}
                            {% if dish.uuid not in ids_dishes_list %}
                                 <li class="list-group-item">
                                    {{ dish.description }}
                                    <a href="{% url 'menus:menu_add_dishes' menu_id=menu.uuid dish_id=dish.uuid %}"
                                       class="btn btn-primary btn-sm float-right">
                                        Add dish
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-lg-12 mt-5">
                    <h3>{{ menu.name }}</h3>
                    <ul class="list-group">
                        {% for my_menu_dish in my_menu_dishes %}
                            <li class="list-group-item">
                                {{  my_menu_dish.dish.description }}
                                <a href="{% url 'menus:menu_remove_dishes' menu_id=menu.uuid menu_dish_id=my_menu_dish.uuid  %}"
                                   class="btn btn-danger btn-sm float-right">Remove dish
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}