{% extends "base.html" %}
{% block head_content %}
	<title>Dishes | EMeals</title>
{% endblock %}
{% block container %}
	<div class="row">
		<div class="col-lg-2 ml-auto mb-3">
			<a href="{% url 'dishes:dishe_create' %}" class="btn btn-block btn-primary">
				Add new
			</a>
		</div>
		<div class="col-lg-12">
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Description</th>
						<th scope="col">Price</th>
					</tr>
				</thead>
				<tbody>
					{% for dishe in dishes %}
						<tr>
							<th scope="row">{{ forloop.counter }}</th>
							<td>{{ dishe.description }}</td>
							<td>${{ dishe.price }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}