Unstaged changes after reset:
M	.env.example
M	dishes/admin.py
M	dishes/models.py
M	dishes/urls.py
M	dishes/views.py
M	emeals/settings.py
M	emeals/urls.py
M	menus/models.py
M	menus/urls.py
M	menus/views.py
M	reservations/models.py
M	reservations/views.py
M	templates/dishes/create.html
M	templates/dishes/list.html
M	templates/menus/add_dishes.html
M	templates/menus/list.html
M	templates/nav.html
D	templates/users/base.html
M	templates/users/base_login.html
M	templates/users/login.html
M	users/urls.py
M	users/views.py
