{% extends "base_public.html" %}

{% block head_content %}
<title>E-Meals Register</title>
{% endblock%}

{% block container %}
    <div class="row justify-content-md-center">
        <div class="col-lg-4 mt-5">
            <form method="POST" action="{% url 'users:signup' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="email">{{ form.first_name.label }}</label>
                    <input class="form-control {% if form.first_name.errors %}is-invalid{% endif %}" type="text"
                           placeholder="First Name" name="first_name"
                           value="{% if form.first_name.value is not None %}{{ form.first_name.value }}{% endif %}"/>
                    <div class="invalid-feedback">
                        {% for error in form.first_name.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">{{ form.last_name.label }}</label>
                    <input class="form-control {% if form.last_name.errors %}is-invalid{% endif %}" type="text"
                           placeholder="Last Name" name="last_name"
                           value="{% if form.last_name.value is not None %}{{ form.last_name.value }}{% endif %}"/>
                    <div class="invalid-feedback">
                        {% for error in form.last_name.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">{{ form.email.label }}</label>
                    <input class="form-control {% if form.email.errors %}is-invalid{% endif %}" type="text"
                           placeholder="Email" name="email"
                           value="{% if form.email.value is not None %}{{ form.email.value }}{% endif %}"/>
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">{{ form.password.label }}</label>
                    <input class="form-control {% if form.password.errors %}is-invalid{% endif %}" type="password"
                           placeholder="Password" name="password"
                           value="{% if form.password.value is not None %}{{ form.password.value }}{% endif %}"/>
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                </div>
                <button class="btn btn-primary btn-block mt-5" type="submit">Sign up!</button>
            </form>
        </div>
    </div>

{% endblock %}
